* {
    margin: 0;
    padding: 0;
}

Body {
    background: url(bgp.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {

    color: white;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 30%;
}

.container h1 {
    display: inline-block;
    font-size: 35px;
    border-bottom: 5px solid purple;
    margin-bottom: 20px;
    padding: 13px 0px;
}

.box {
    width: 80%;
    border-bottom: 2px solid purple;
    display: inline-block;
}

.box input {
    background: none;
    margin: 8px;
    width: 50%;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    padding: 6px 15px;
    border-radius: 10px;

}

.box i {
    width: 10px;
    padding: 0px 4px;
    text-align: center;
}


.btn {
    cursor: pointer;
    margin-top: 22px;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid purple;
    font-weight: bold;
    background: none;
    color: white;
  transition: 0.5s;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: purple;
}